$white: #FFF;
$black: #000;
$grey: #333;
$dark_blue: #3A63A0;
$blue: #4b93ff;
$orange: #ffae4b;
$info: #539ee3;
$green: #37aa2e;
$red: #be383e;
$dark_red: #932d31;

// Base font sizes and colors
$base-font-size:            14pt!default;
$base-small-size:           12pt!default;
$base-micro-size:           10pt!default;
$base-line-height:          1.3em!default;
$base-font-weight:          300!default;

$base-font-color:           #444!default;

$base-link-color:           #027AC6!default;
$base-hover-link-color:     #027AC6!default;
$base-heading-color:        #181818!default;
$base-sub-heading-color:    #003366!default;

// Base font-family
$base-font-family:           'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$base-heading-font-family:   Roboto, Arial, Helvetica, sans-serif !default;
$base-print-font-family:    Roboto, Arial, Helvetica, sans-serif !default;
